.game{
  position: relative;
  margin: auto;
  width: 1300px;
  height: 768px;
}

.game__overlay{
  position: absolute;
  width: 1366px;
  height: 768px;
  z-index: 1;
  background: green;
}

.game__canvas{
  position: absolute;
  width: 1366px;
  height: 768px;
}

.score-right{
  color: white;
  position: absolute;
  text-align: right;
  width: 100px;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.game__message{
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%,-50%)
}
.game__message--title{
  color: white;
  font-size: 96px;
}
.game__message--text{
  color: white;
}
.game__message--score{
  font-size: 72px;
}
